@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* lead board scrollbar */

.leadBoard::-webkit-scrollbar {
  width: 5px;
}

.leadBoard::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.leadBoard::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.leadBoard::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-placeholder {
  background-color: #f7f7f7;
  border: 2px dashed #cccccc;
  border-radius: 4px;
}


/* react file base image */
#filebase_image>input[type='file'] {
  display: none;
}