*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
   	width: 300px;
	height: 100vh;
	background: black;
	color: white;
	overflow: auto
}

.sidebar-item{
	padding: .75em 1em;
	display: block;
	transition: background .1s;
}

.sidebar-item:hover{
	background: rgba(255,255,255,.1)
}

.sidebar-title{
	display:flex;
	font-size: 1.1em;
	justify-content: space-between;
}


.sidebar-title span  p {
	display:inline-block;
	width: 1.5em;
}

.toggle-btn{
	cursor: pointer;
	transition: transform .3s;
}

.sidebar-item.open > .sidebar-title .toggle-btn{
	transform: rotate(180deg)
}

.sidebar-content{
	padding-top: .25em;
	height: 0;
	overflow: hidden;
}

.sidebar-item.open > .sidebar-content{
	height: auto;
}

.sidebar-item.plain {
	color:white;
	text-decoration:none
}

.sidebar-item.plain:hover {
	text-decoration:underline;

}

.sidebar-item.plain p{
	width:2em;
	display:inline-block;
}